numpy>=1.12.1
scipy>=0.18.1
matplotlib>=2.0.0
ipython>=5.1.0
tifffile>=0.12.1
SimpleITK>=1.0.0
ipykernel>=4.6.1
PyVTK>=0.5.18
sphinx>=1.7.0
sphinx-gallery>=0.1.13
scikit-image>=0.13.1
progressbar>=2.3.0
mpi4py>=3.0.0
rpy2==2.7.8
#MeshPy>=2016.1.2
