numpy>=1.12.1
scipy>=0.18.1
matplotlib>=2.0.0
ipython>=5.1.0
tifffile>=0.12.1
SimpleITK>=1.0.0
ipykernel>=4.6.1
PyVTK>=0.5.18
scikit-image>=0.13.1
mpi4py>=3.0.0
rpy2==2.7.8
sphinx>=1.7.0

# not working with python3
#progressbar>=2.3.0


# mesh -> add the gmsh dependency but important for GDIC and FE
# version 4.1.6 and 4.1.7 -> import error X = X @ R.T
pygmsh==4.1.5
#meshio # should be added with pygmsh
sphinx-gallery>=0.1.13
sphinx_rtd_theme>=0.3.0
