numpy
scipy
matplotlib
ipython
tifffile
SimpleITK
scikit-image
mpi4py

# pyamg>=3.3.2

# This is for Jupyter:
# ipykernel>=4.6.1

## modules with problems

# force 2.7 for python2
rpy2<2.8
pygmsh>=4.3.4
meshio>=2.0.4
